{% extends 'admin/admin-home.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h3>Intervenants</h3>
    <div class="listing-intervenant">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Spécialité</th>
            </tr>
            </thead>
            <tbody>

            {% for intervenant in intervenants %}
                <tr>
                    <td>{{ intervenant.id }}</td>
                    <td>{{ intervenant.nom }}</td>
                    <td>{{ intervenant.prenom }}</td>
                    <td>{{ intervenant.SpecialiteProfessionnelle }}</td>
                    <td><a href="{{ path('intervenant_edit', { 'id': intervenant.id}) }}">Modifier</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock %}