{% extends 'admin/admin-home.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h3>Matière</h3>
    <div class="d-flex justify-content-end">
        <a class="mr-auto btn btn-primary " href="{{ path('matiere_new') }}">Créer</a>
    </div>
    <div class="listing-matiere">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Intitulé</th>
                <th>Durée</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if matieres is not empty %}
                {% for matiere in matieres %}
                    <tr>
                        <td>{{ matiere.id }}</td>
                        <td>{{ matiere.intitule }}</td>
                        <td>{{ matiere.duree }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('matiere_edit', { 'id': matiere.id}) }}">Modifier</a>
                            <a class="btn btn-danger" href="{{ path('matiere_delete', { 'id': matiere.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        Aucune matières pour le moment
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </div>

{% endblock %}