{% extends 'admin/admin-home.html.twig' %}

{% block content %}
    <h1>Reporting Intervenant</h1>
    <br/>
    <div class="container" id="reporting-intervenant"></div>
    <div class="">
        <h2>Total heures pour chaque intervenant/matiere</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Intervenant</th>
                <th colspan="100%"></th>
            </tr>
            </thead>
            <tbody>
            {% for intervenant, stats in statsIntervenant %}
                <tr>
                    <td>{{ intervenant }}</td>
                    {% for matiere, stat in stats %}
                        {% if matiere in 'total' %}
                            <td>{{ matiere }} {{ stat.minutes // 60 }}h {{ stat.minutes % 60 }}m</td>
                        {% else %}
                            <td style="border-color: {{ stat.couleur }}; border-width: 2px">{{ matiere }} {{ stat.minutes // 60 }}h {{ stat.minutes % 60}}m</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="">
        <h2>Dates d'intervention de chaque intervenant</h2>
        <br />
        <div class="">
            {% for intervenant, heures in heuresIntervenant %}
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>{{ intervenant }}</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for heure in heures %}
                            <li class="list-group-item">{{ heure }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}