{% extends 'admin/admin-home.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h1 class="mb-3">{{ title }}</h1>
    </div>

    <div class="form-control">
        {{ form_start(coursForm) }}

        <div class="mb-3">
            <label for="coursForm[nom]" class="form-label">{{ form_label(coursForm.nom) }}</label>
            {{ form_widget(coursForm.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <!-- TODO : Changer le timepicker, mettre une option 'Jour', puis une option avec l'heure debut, et fin -->
        <!-- Actuellement, on doit rentrer la date entiere deux fois -->
        <div class="row">
            <div class="col">
                <div class="mb-3">
                <label for="coursForm[date_cours]" class="form-label">{{ form_label(coursForm.date_cours) }}</label>
                {{ form_widget(coursForm.date_cours, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                <label for="coursForm[heure_debut]" class="form-label">{{ form_label(coursForm.heure_debut) }}</label>
                {{ form_widget(coursForm.heure_debut, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="coursForm[heure_fin]" class="form-label">{{ form_label(coursForm.heure_fin) }}</label>
                    {{ form_widget(coursForm.heure_fin, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
            <label for="coursForm[Intervenant]" class="form-label">{{ form_label(coursForm.Intervenant) }}</label>
            {{ form_widget(coursForm.Intervenant, {'attr': {'class': 'form-control'}}) }}
        </div>
        </div>

        <div class="col">
            <div class="mb-3">
            <label for="coursForm[Matiere]" class="form-label">{{ form_label(coursForm.Matiere) }}</label>
            {{ form_widget(coursForm.Matiere, {'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
    </div>


        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class=" mb-3">
            <button class="btn btn-lg btn-primary" type="submit">
                {{ action }}
            </button>
        </div>

        {{ form_end(coursForm) }}
    </div>
{% endblock %}